{% extends '../base.html' %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}Категория{% endblock%}

{% block content %}

    {% if error_message %}
          <div class="alert alert-primary" role="alert">
            {{error_message}}
          </div>
    {% endif %}

    <h1>Категория</h1>
    <hr>

    <form action="{% url 'products:category-update' object.pk %}" method="post" novalidate>
        {% csrf_token %}
        {#{% bootstrap_form form %}#}
        {{ form|crispy }}
        {% if user_is_admin %}
            {% bootstrap_button button_type="submit" content="Сохранить" %}
        {% endif %}
    </form>
{% endblock %}